@page "/animals"
@using AnimalApp.Components.Models
@using AnimalApp.Components.Services
@inject AnimalService AnimalService

<h3>Animals in Database</h3>

@if (animals == null)
{
    <p>Loading...</p>
}
else if (animals.Count == 0)
{
    <p>No animals found.</p>
}
else
{
    <ul>
        @foreach (var animal in animals)
        {
            <li>@animal.Name </li>
            <ul>
                @if (animal.Colors !=null)
                {
                @foreach (var color in animal.Colors)
                {
                    <li>@color</li>
                }
                }
            </ul>
        }
    </ul>
}

@code {
    private List<Animal> animals = new();

    protected override async Task OnInitializedAsync()
    {
        animals = await AnimalService.GetAnimalsAsync();
    }
}
